/*** Constante ***/

:root {
  --bleu: rgb(0,34,86);
  --bleuleg: rgba(0,34,86, 0.7);
  --marron:  rgb(163, 109, 0);
  --marronleg: rgba(163, 109, 0, 0.7);
  --gris:  rgb(112, 112, 112);
  --grisleg: rgba(112, 112, 112, 0.7);
  --vert:  rgb(44, 199, 26);
  --vertleg: rgba(44, 199, 26, 0.42);
  --rouge:  rgb(255, 0, 0);
  --rougeleg: rgba(255, 0, 0, 0.7);
  --orange:  rgb(108, 89, 71);
  --orangeleg: rgba(108, 89, 71, 0.53);
}

@font-face {
 font-family: "belina";
 src: url("/font/BelinaDemo-Regular.ttf") format("truetype"),
        url("/fonts/OpenSans-Regular-webfont.otf") format("otf");
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: url("/font/tDbI2oqRg1oM3QBjjcaDkOr9rAU.woff2") format('woff2');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/font/SlGVmQWMvZQIdix7AFxXkHNSbQ.woff2") format('woff2');
}

/*** Fin Constante ***/

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Droid Serif', Helvetica, Arial, sans-serif;

}

p {
  font-family: 'Droid sans', Helvetica, Arial, sans-serif;
}

select, input, option, button {
  font: 400 13.3333px 'Droid Serif';
}

.wimp {
  font-family: 'belina';
}

a {
  all: unset;
  color: black;
  cursor: pointer;
  font-family: 'Droid Serif', Helvetica, Arial, sans-serif;
}

.lien {
  all: revert;
  text-decoration: underline;
  font-size: 15px;
  padding-top: 10px;
}

h1 {
  all: unset;
  color: black;
  font-family: sans-serif;
  padding: 0;
}
body {
  background-color: var(--bleuleg);
}

.left-img {
  float: left;
  padding-left: 90px!important;
}

.right-img {
  float: right;
  padding-right: 90px!important;
}

.titre {
  text-align: center;
  padding-top: 40px;
  text-decoration: underline;
  font-size: 2rem;
  font-family: 'belina';
  font-size: 50px;
}

.titre2 {
  text-align: center;
  text-decoration: underline;
  font-family: 'belina';
  font-size: 45px;
}

@media (max-width: 1520px){
  .un {
    width: 0; height: 0;
    display: none!important;
  }
}
@media (max-width: 1360px){
  .deux {
      width: 0; height: 0;
      display: none!important;
  }
}
@media (max-width: 1175px){
  .trois {
    width: 0; height: 0;
    display: none!important;
  }
}
@media (max-width: 1005px){
  .quatre {
    width: 0; height: 0;
    display: none!important;
  }
}
@media (max-width: 740px){
  .autre {
    width: 0; height: 0;
    display: none!important;
  }
}


.petit {
  margin-top: 20px;
  margin-left: 5px;
}

.logo, .logo-r {
  position:fixed;
  width: 90px;
}

.logo {
  left: 0;
  top: 0;
}

.logo-r {
  right: 0;
  top: 0;
}

nav#menu {
    text-align: center;
    padding: 0.2rem 0;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 1rem;
    font-size: 0.85rem;
    padding: 0.2rem 0.5rem;

    /*font-family: "Josefin Sans", Lato, "Open Sans", sans-serif;
    font-family: 'Open Sans', sans-serif;*/

    font-size: 3rem;
    font-weight: 400;
    font-weight: 600;
    letter-spacing: 0.08rem;
    line-height: 80px;
    height: 80px;

    background-color: white;
    border-bottom: 1px black solid;
}

nav#menu ul > li:first-of-type {
    margin-left: 0;
}
nav#menu ul > li {
    margin-left: 1.5rem;
    letter-spacing: 0.15rem;
}
nav#menu ul, nav#menu ul li {
    padding: 0;
    display: inline;
}
li {
    margin-bottom: 1rem;
    margin-bottom: 0.5rem;
    /* margin-bottom: 0.25rem; */
}

.block {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  height: 80vh;
  margin: 20px;
  width: 70vw;
  border: 3px solid var(--marronleg);
}

.mentions {
  text-align: center;
  justify-content: center;
display: flex;
font-size: xx-small;
color: white;
}

.flex {
  height: 70vh;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.flex-items {
  width: auto;
  margin: 10px;
}

.flex-item-90 {
  width: 90%;
  height: 100%;
}

.flex-item-70 {
  width: 70%;
  height: 100%;
}

.flex-item-50 {
  width: 50%;
  height: 100%;
}

.flex-item-30 {
  width: 30%;
  height: 100%;
}

.map {
    width: 100%;
    height: 100%;
}



.map-api {
  border: 3px var(--gris);
  background-color: white;
  height: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 25;
}

element.style {
}
.map-date {
  border: 3px var(--gris);
  background-color: white;
  height: 5%;
  /* display: flex; */
  /* text-align: center; */
  /* justify-content: center; */
  /* line-height: 25; */
  /* margin-bottom: 5px; */
  width: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.map-date input {
  background-color: var(--grisleg);
  /* padding: 5px; */
  border-top-left-radius: 5px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 740px){
  .options, .flex-item-30 {
    width: 0; height: 0;
    display: none!important;
  }
  .flex-item-70 {
    width: 100%;
  }
}
.img-profil {
   width:50px;
   border-radius:50%;
   cursor: pointer;
   margin-right: 10px;
}

.options-profil, .options-profil a {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.options-api {
  border: 3px var(--gris);
  background-color: white;
  height: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 25;
}
.options {
    height: 85%;
}

.centre {
  line-height: 80px;
}
.text-centre {
  text-align: center;
}

.block-centre1 {
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-centre1 a:first-of-type {
  margin-top: 100px;
}

.block-centre {
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.center-div {
     margin: 0 auto;
     width: inherit;
     height: inherit;
}

.contenu {
     margin: 0 auto;
     width: 100%;
     height: 50%;
     display: flex;
     justify-content: space-around;
}

.container {
  position: relative; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  height: 90%;
  text-align: center;
}

/*Popper*/

#popper-popup {
  display: none;
  transition: all 1s ease-out;
  background: #333;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
  width: 100%;
  max-width: 400px;
}
#popper-popup a {
  font-size: 16px;
  transition: all 1s ease-out;
  font-weight: 300;
  display: block;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 1s ease-out;
}
#popper-popup a:hover {
  background: #444444;
  transition: all 1s ease-out;
}
#popper-popup[data-popper-reference-hidden] {
  visibility: hidden;
  pointer-events: none;
  transition: all 1s ease-out;
}
#popper-popup[show-popper] {
  display: block;
  z-index: 9999;
  transition: all 1s ease-out;
}

/*keep popper visible in the Divi Builder for editing*/
#et-fb-app #popper-popup {
  display: block;
  transition: all 1s ease-out;
}

/*build the arrow targeting the divider with class 'popper-arrow'*/
#popper-arrow,
#popper-arrow::before {
  transition: all 1s ease-out;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #333333;
}
#popper-arrow {
  visibility: hidden;
  transition: all 1s ease-out;
}
#popper-arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
  transition: all 1s ease-out;
}

.popper-section {
  display: inline-flex;
  transition: all 1s ease-out;
  position: absolute;
  top: 135px;
  right: -82px;
}

@media (max-width: 800px){
  .popper-section{
    display: inline-flex;
    transition: all 1s ease-out;
    left: auto;
    position: absolute;
    bottom: -25px;
    right: auto;
    top: unset;
  }
}




/*position arrow using popper.js data-popper-placement attribute*/
#popper-popup[data-popper-placement^="top"] #popper-arrow {
  bottom: -4px;
}

#popper-popup[data-popper-placement^="bottom"] #popper-arrow {
  top: -4px;
}

#popper-popup[data-popper-placement^="left"] #popper-arrow {
  right: -4px;
}

#popper-popup[data-popper-placement^="right"] #popper-arrow {
  left: -4px;
}

/*hide arrow when reference outside of viewport*/
#popper-popup[data-popper-reference-hidden] #popper-arrow::before {
  visibility: hidden;
}

/*---------------*/

.btn {
  border: none;
  text-decoration: none;
  box-shadow: 2px 2px 10px grey;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.btn-aller:hover {
  box-shadow: 1px 1px 10px var(--marron), -1px 1px 10px var(--marron);
}

.btn-aller {
  border-radius: 20px;
  padding: 10px;
  height: 15px;
  width: 15vw;
  text-align: center;
  min-width: 100px;
  margin: 5vw;
  background-color: var(--marronleg);
}

.btn-retour:hover {
  box-shadow: 1px 1px 10px var(--marron), -1px 1px 10px var(--marron);
}

.btn-retour {
  position: relative;
  top: 10px;
  right:  var(--bs-gutter-x,.75rem);
  border-bottom-right-radius: 15px;
  border-top-left-radius: 10px;
  padding: 10px;
  width: 15vw;
  text-align: center;
  min-width: 100px;
  background-color: var(--marronleg);
}
.btn-profil-retour {
  /* position: relative; */
  /* top: 10px; */
  right: var(--bs-gutter-x,.75rem);
  border-bottom-right-radius: 15px;
  border-top-left-radius: 5px;
  padding: 7px;
  width: 10vw;
  text-align: center;
  min-width: 100px;
  background-color: var(--marronleg);
}

.btn-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-envoyer {
  border-radius: 20px;
  padding: 10px;
  /* width: 15vw; */
  text-align: center;
  min-width: 100px;
  max-width: 200px;
  /* margin: 5vw; */
  background-color: var(--marronleg);
  /* text-align: center; */
  /* justify-content: center; */
  /* display: inherit; */
  margin-left: auto;
  margin-right: auto;
}
.submit {
  background-color: var(--grisleg);
}

.btn-annuler {
  border-radius: 20px;
  padding: 10px;
  /* width: 15vw; */
  text-align: center;
  min-width: 100px;
  max-width: 200px;
  /* margin: 5vw; */
  background-color: var(--grisleg);
  /* text-align: center; */
  /* justify-content: center; */
  /* display: inherit; */
  margin-left: auto;
  margin-right: auto;
}

.btn-modifier {
  /* border-radius: 20px; */
  /* width: 15vw; */
  text-align: center;
  min-width: 50px;
  max-width: 50px;
  /* margin: 5vw; */
  /* text-align: center; */
  /* justify-content: center; */
  /* display: inherit; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 0 0;
  background-color: white;
}

.btn-supprimer {
  /* border-radius: 20px; */
  /* width: 15vw; */
  text-align: center;
  max-width: 50px;
  /* margin: 5vw; */
  /* text-align: center; */
  /* justify-content: center; */
  /* display: inherit; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 0 0;
  background-color: white;
}

.inscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: inherit;
  height: auto;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-block {
  justify-content: center;
  text-align: center;
}

.connexion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: inherit;
  padding-top: 10px;
  margin-top: 100px;
  padding-bottom: 10px;
}
.co {
  margin-top: 50px;
}
fieldset {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: none;
  border-bottom: none;
  border-radius: 10px;
  margin-bottom: 15px;
}
/*
fieldset:first-of-type {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
fieldset:last-of-type {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
*/
fieldset div {
  margin: 10px;
  display: inherit;
}

input {
  box-shadow: 2px 1px 10px grey;
  border-radius: 15px;
  border: none;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}
input:focus {
  outline: none;
}
.notinput {
  box-shadow: 0 0 0 0;
  border-radius: 0;
  border: none;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

fieldset div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*-------------------Slider------------------------*/
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.slideshow-container {
    width: 100%;
}

.slider, .slider-insc {
  width: 80%;
  text-align: center;
  overflow: hidden;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;



  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.slides > div:target {
/*   transform: scale(0.8); */
}
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}

.slider > a, .slider-insc > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active, .slider-insc > a:active {
  top: 1px;
}
.slider > a:focus, .slider-insc > a:focus {
  background: #000;
}

/********************Messages************************/

.message-block{
  display: flex;
  justify-content: center;
  list-style: none;
}

.message {
  position: fixed;
  /*Padding*/
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  /*Margin*/
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  /*position*/
  top: 0;
  /* line-height: 40px; */
  width: auto;
  /*Style*/
  box-shadow: 2px 2px 10px grey;
  transition: all 0.5s;
  border-radius: 10px;
  text-align: center;
}

.message li {
    margin-bottom: 0;
}

.message-erreur{
  color: Black;
  background-color: var(--rouge);
}
.message-success{
  color: Black;
  background-color: var(--vert);
}
/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a, .slider-insc > a {
    display: none;
  }
}

html, body {
  overflow: hidden;
}
.form-block {
  display: flex;
  flex-direction: row;
}

@media (min-width: 800px){

  .phone {
    display: none;
  }
  .screen {
    display: block;
  }
}
@media (max-width: 800px){
  .form-block {
    max-height: 85%;
  }
  .nonslider-insc {
    display: none!important;
  }
  .screen {
    display: none;
  }
  .phone {
    display: block;
  }
}

.profil-block {
    border: 3px var(--gris);
    background-color: white;
    height: 100%;
    display: flex;
    text-align: center;
    border-radius: 5px;
    /* flex-direction: column; */
    justify-content: center;
}

.entete {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: black 2px solid;
    padding-right: 20px;
}

@media (min-height: 1000px)
  .listes {
    display: flex;
    justify-content: space-around;
    /* margin: auto; */
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    height: 100%;
}

.rien {
  box-shadow: 0 0 0 0 transparent;
  border-radius: 0;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
